.cardHolder {
  background-color: var(--color-one);
  display: block;
  border-style: solid;
  border-color: var(--color-five);
  text-align: center;
  margin: 10px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.pallete {
  --color-one: rgb(204, 227, 229);
  --color-two: rgb(239, 162, 111);
  --color-three: rgb(113, 177, 183);
  --color-four: rgb(198, 80, 40);
  --color-five: rgb(114, 54, 23);
}