.cardHolder {
  background-color: var(--color-one);
  display: block;
  border-style: solid;
  text-align: center;
  margin: 10px;
}

.pallete {
  --color-one: rgb(204, 227, 229);
  --color-two: rgb(239, 162, 111);
  --color-three: rgb(113, 177, 183);
  --color-four: rgb(198, 80, 40);
  --color-five: rgb(114, 54, 23);
}